<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="pt-0">
    <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-light bg-light sticky-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">E-Bill</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link active" })
                    @Html.ActionLink("View Bills", "Index", "EBill", null, new { @class = "nav-link" })
                    @Html.ActionLink("Create Bill", "Create", "EBill", null, new { @class = "nav-link" })
                </div>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>