@model EBill.Models.Items

<tr id="row-@Model.ItemIndex">
    <td>
        @Model.ProductName
        <input type="hidden" name="Items[@Model.ItemIndex].Productname" value="@Model.ProductName" />
    </td>
    <td>
        @Model.Price
        <input type="hidden" name="Items[@Model.ItemIndex].Price" value="@Model.Price" />
    </td>
    <td>
        @Model.Quantity
        <input type="hidden" name="Items[@Model.ItemIndex].Quantity" value="@Model.Quantity"/>
    </td>
    <td><button type="button" class="btn btn-sm btn-danger text-white" onclick="RemoveItem(@Model.ItemIndex)">Remove</button></td>
</tr>

<script type="text/javascript">
    function RemoveItem(Id)
    {
        $('#row-' + Id).remove();
    }
</script>
